# Debug files
*Release*
*Debug*

# Editor
*.swp
*.vcxproj.user
*.suo
*.sdf
*.opensdf


# Compiled Object files
ipch*
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/csv_parser_RFC4180.VC.opendb
/csv_parser_RFC4180.VC.VC.opendb
/csv_parser_RFC4180.VC.db
/obj
/bin
/Makefile
/*.make
